ollama:
  enabled: false
ollamaUrls: [{{ ollama_url | default("ollama.local:11434") }}]
enableOpenaiApi: false
ingress:
  enabled: true
  host: {{ openwebui_host | default("openwebui.local") }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  tls: true
